.dm-disabled-create-topic-button {
  .btn {
    color: var(--secondary);
    border: 2px solid var(--tertiary);
    background: var(--tertiary);
    border-radius: var(--d-button-border-radius);
    transition: background 0.25s ease-out;

    &:hover,
    &:focus {
      background: var(--tertiary-hover);
      border: 2px solid var(--tertiary-hover);
    }

    .d-icon {
      color: var(--secondary);
    }
  }
}
